@import 'mixins';

.banner {
	position: relative;

	&__image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
		}

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.3);
		}

		@include respond-above(lg) {
			height: 500px;
		}
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 2;
		width: 100%;

		h1 {
			color: var(--light-color);
			text-transform: uppercase;
			margin-bottom: 0;

			span {
				display: block;
			}
		}

		@include respond-below(sm) {
			h1 {
				font-size: 1.5rem;
			}
		}
	}
}
