<ng-container *ngIf="book">
	<div class="book-card">
		<div class="book-card__image">
			<figure>
				<a href="http://">
					<img *ngIf="hasImage(); else defaultBookImage" [src]="book.volumeInfo.imageLinks.thumbnail"
						[alt]="book.volumeInfo.title">
				</a>
			</figure>
		</div>
		<div class="book-card__info">
			<h3 class="book-card__title">
				<a href="http://">{{book.volumeInfo.title}}</a>
			</h3>
			<small class="book-card__rating">rating:
				{{!!book.volumeInfo.averageRating ? book.volumeInfo.averageRating : '1'}}</small>
			<small class="book-card__author">by {{book.volumeInfo.authors | bookAuthor}}</small>
			<p class="book-card__description">{{book.volumeInfo.description}}</p>
			<small class="book-card__publish-date">{{book.volumeInfo.publishedDate}}</small>
		</div>
	</div>
</ng-container>

<ng-template #defaultBookImage>
	<img src="./assets/images/book_default.jpg" alt="Stephen King">
</ng-template>
