@import 'mixins';

.book-card {
	position: relative;

	background-color: var(--light-color);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);

	height: 100%;

	&__image {

		img {
			height: 225px;
			width: 150px;

			box-shadow: 0.25em 0.35em 1em rgba(0, 0, 0, 0.6);
			border-radius: var(--border-radius);
			object-fit: cover;

			margin-right: auto;
			margin-left: auto;
		}
	}

	&__info {
		padding: 1rem 1rem 0;

		h3 {
			margin-bottom: 0;

			a {
				font-size: 1.5rem;
				color: var(--neutral-shade-color-8);
			}
		}

		small {
			color: var(--neutral-shade-color-5);

			display: inline-block;

			margin-bottom: 0.5rem;

			&.book-card__publish-date,
			&.book-card__rating {
				margin-bottom: 0;
			}
		}

		p {
			text-overflow: ellipsis;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
	}

	&__publish-date {
		font-style: italic;
	}

	@include respond-below(md) {
		&__info {
			padding-bottom: 1rem;
		}
	}

	@include respond-above(md) {
		display: flex;

		padding: 0 1rem 1rem;

		transition: transform 0.3s ease-in-out;

		&__image {
			margin-top: -2rem;
			margin-right: rem(20px);
		}

		&__info {
			h3 a {
				transition: color 0.3s ease-in-out;

				&:hover {
					color: var(--primary-color);
				}
			}
		}

		&:hover {
			transform: translateY(-10px);
		}
	}

	@include respond-above(lg) {
		&__info {
			display: flex;
			flex-direction: column;

			height: 100%;

			.book-card__publish-date {
				margin-top: auto;
			}
		}
	}
}
